* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #458FF6;
    --logo-color: #ffffff;
    --text-color: black;
}

.logo {
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    background: var(--primary-color);
    color: var(--logo-color);
    padding-top: .3em;
    padding-left: .7em;
    font-weight: bolder;
    margin-left: 5em;
    margin-top: 2em;
}

.logo-text {
    color: var(--text-color);
    font-family: Mulish;
    font-weight: bolder;
    margin-left: 7.3em;
    margin-top: -1.7em;
    font-size: 1em;
}